/*UDOT Dashboard Style Sheet */
/*Created by leonel nieto */

.nounderline {
  text-decoration: none !important;
}
.fc-event {
  background-color: #fff  !important;
  color: black !important;
  font-size: .75em !important;
  white-space: normal !important;
}
.fc-day-grid-event .fc-content {
  white-space: normal !important;
}