/*UDOT Dashboard Style Sheet */
/*Created by leonel nieto */

.nounderline {
  text-decoration: none !important;
}
.fc-event {
  background-color: #fff  !important;
  color: black !important;
  font-size: .75em !important;
  white-space: normal !important;
}
.fc-day-grid-event .fc-content {
  white-space: normal !important;
}
navbar ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
navbar ul li a.nav-link{
  font-size: 0.65rem;
  color:rgba(255, 255, 255, 0.5);
}
navbar ul li a.nav-link:hover{
  color:#fff;
}